@charset "UTF-8";
:root {
  /* main fonts */
  /* font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif; */
  /* main color */
  --primary-text-color: #555555;
  --primary-white-color: #ffffff;
  --primary-title-color: #303030;
  --secondary-text-color: #9da4bd;
  --accent-color: #ff6c00;
  /* main background */
  --main-background-color: #111319;
  --secondary-background-color: #191c26;
  --light-background-color: #f7f7f7;
  /* decor */
  --main-decor-color: rgba(157, 164, 189, 0.6);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.container {
  max-width: 480px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.own-wrapper {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image:linear-gradient(to right, rgb(47 48 58 / 95%), rgb(47 48 58 / 42%)), url(../img/Slider-img-3_sm.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .own-wrapper {
    background-image:linear-gradient(to right, rgb(47 48 58 / 95%), rgb(47 48 58 / 42%)), url(../img/Slider-img-3_sm@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .own-wrapper {
    max-width: 768px;
    background-size: cover;
    background-image:linear-gradient(to right, rgb(47 48 58 / 95%), rgb(47 48 58 / 42%)), url(../img/Slider-img-3_md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .own-wrapper {
    background-image:linear-gradient(to right, rgb(47 48 58 / 95%), rgb(47 48 58 / 42%)), url(../img/Slider-img-3_md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .own-wrapper {
    max-width: 1200px;
    background-size: cover;
    background-position: 155px;
    background-image:linear-gradient(to right, rgb(47 48 58 / 95%), rgb(47 48 58 / 42%)), url(../img/Slider-img-3_lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .own-wrapper {
    background-image:linear-gradient(to right, rgb(47 48 58 / 95%), rgb(47 48 58 / 42%)), url(../img/Slider-img-3_lg@2x.jpg);
  }
}

/* Decor */
.decor-text-light::before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  width: 60px;
  margin-right: 20px;
  background-color: var(--main-decor-color);
}

.decor-text-dark::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 1px;
  width: 60px;
  margin-right: 20px;
  background-color: var(--primary-title-color);
}

/* header */
.header-cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .header-cont {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .header-cont {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-link {
  margin-left: 40px;
  margin-right: 54px;
}
@media screen and (min-width: 1199px) {
  .header-link {
    margin-right: 70px;
  }
}

.nav-link {
  text-decoration: none;
  color: var(--primary-white-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 24px;
}
@media screen and (min-width: 1199px) {
  .nav-item:not(:last-child) {
    margin-right: 40px;
  }
}

.header-wrapper {
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
}

.header-phone {
  color: var(--primary-white-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media screen and (min-width: 1199px) {
  .header-phone {
    margin-right: 40px;
    margin-left: auto;
  }
}

.header-phone:hover,
.header-phone:focus {
  color: var(--accent-color);
}

.header-button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--primary-white-color);
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 20px;
  -webkit-transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms;
}

.header-button:hover,
.header-button:focus {
  color: var(--primary-white-color);
  background-color: #ff6c00;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  cursor: pointer;
}

.mobile-overley {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 28, 38, 0.2);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}
@media screen and (min-width: 768px) {
  .mobile-overley {
    display: none;
  }
}

.mobile-overley.is-open {
  opacity: 1;
  z-index: 10;
  visibility: initial;
  pointer-events: all;
}

.mobile-overley.is-open .mobile-menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu {
  background-color: var(--primary-white-color);
  width: 100%;
  height: 100%;
  -webkit-box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
          box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
  padding-top: 118px;
  padding-left: 40px;
  padding-bottom: 64px;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .mobile-menu {
    width: 338px;
    margin-left: auto;
  }
}

.mobile-menu__nav {
  margin-bottom: 64px;
}

.mobile-menu__item {
  cursor: pointer;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--primary-title-color);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-contacs__tel {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
.mobile-contacs__tel:hover, .mobile-contacs__tel:focus {
  color: var(--accent-color);
}

.mobile-contacs__btn {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  padding: 12px 37px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms;
  margin-top: 24px;
  margin-bottom: 64px;
}
.mobile-contacs__btn:hover, .mobile-contacs__btn:focus {
  background-color: var(--accent-color);
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.mobile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-link__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-link__item::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  vertical-align: middle;
  background-color: var(--primary-title-color);
  margin-right: 40px;
}

.mobile-link__item:last-child::before {
  opacity: 0;
}

.mobile-link__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.36;
  color: var(--primary-title-color);
}
.mobile-link__link:hover, .mobile-link__link:focus {
  color: var(--accent-color);
}

.menu-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.menu-button {
  display: block;
  padding: 0;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  fill: currentColor;
  z-index: 15;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
.menu-button__icon-menu {
  color: #fff;
  opacity: 1;
}
.menu-button__icon-close {
  opacity: 0;
  color: var(--primary-title-color);
}

.menu-button.is-active .menu-button__icon-menu {
  opacity: 0;
}

.menu-button.is-active .menu-button__icon-close {
  opacity: 1;
}

/* section hero */
.hero {
  position: relative;
  padding-top: 184px;
  padding-bottom: 40px;
}

.hero-list {
  position: absolute;
  left: 82px;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
@media screen and (max-width: 767px) {
  .hero-list {
    display: none;
  }
}

.hero-list::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  vertical-align: middle;
  background-color: var(--primary-title-color);
  margin-right: 40px;
}

.hero-item:not(:last-child) {
  margin-right: 40px;
}

.hero-list a {
  text-decoration: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-title-color);
}

.hero-list a:hover,
.hero-list a:focus {
  color: var(--accent-color);
}

.hero__wrapper {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    margin-left: 255px;
    max-width: 500px;
  }
}

.hero-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero-subtitle {
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1199px) {
  .hero-subtitle {
    font-size: 18px;
    line-height: 1.67;
  }
}

.hero-list-bt {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
}

.hero-list-bt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 142px;
  margin-right: 40px;
}

.hero__item-bt:first-child {
  margin-right: 26px;
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hero__btn--right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero__btn:hover,
.hero__btn:focus {
  color: var(--primary-white-color);
}

.hero__btn::after {
  content: " ";
  width: 60px;
  height: 1px;
  display: inline-block;
  background-color: rgba(157, 164, 189, 0.6);
  margin-top: 8px;
}

.hero__btn:hover::after,
.hero__btn:focus::after {
  background-color: var(--primary-white-color);
}

/* section about us */
.about-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .about-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .about-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    margin-right: 64px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .about-item {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about-item {
    width: 270px;
  }
}

.about-text {
  color: var(--primary-title-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about-title {
  color: var(--primary-title-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .about-title {
    font-size: 42px;
  }
}

.about-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  margin-bottom: 20px;
}

.about-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 40px;
}

.about-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  background-color: transparent;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  -webkit-transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms;
}

.about-btn:hover,
.about-btn:focus {
  color: var(--primary-white-color);
  background-color: #ff6c00;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  cursor: pointer;
}

/* section price */
.price {
  background-color: var(--main-background-color);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-image: url(../img/price/bg-price_sm.png);
  background-image: url(../img/price/bg-price_sm.webp);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price {
    background-image: url(../img/price/bg-price_sm@2x.png);
    background-image: url(../img/price/bg-price_sm@2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .price {
    background-image: url(../img/price/bg-price_md.png);
    background-image: url(../img/price/bg-price_md.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .price {
    background-image: url(../img/price/bg-price_md@2x.png);
    background-image: url(../img/price/bg-price_md@2x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .price {
    background-image: url(../img/price/bg-price_lg.png);
    background-image: url(../img/price/bg-price_lg.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .price {
    background-image: url(../img/price/bg-price_lg@2x.png);
    background-image: url(../img/price/bg-price_lg@2x.webp);
  }
}

.price-header {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.price-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--primary-white-color);
  margin-bottom: 44px;
}

.price-list {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .price-list {
    font-size: 14px;
    line-height: 2.14;
  }
}
@media screen and (max-width: 1199px) {
  .price-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.price-item {
  padding: 30px 40px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .price-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.price-item-left {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-item-right {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-inner-item::before {
  content: "";
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: rgba(157, 164, 189, 0.12);
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.price-inner-text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: auto;
}

.price-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  -webkit-transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms;
}

.price-btn:hover,
.price-btn:focus {
  color: var(--primary-white-color);
  background-color: #ff6c00;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  cursor: pointer;
}

/* section plus */
.plus-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 1200px) {
  .plus-cont {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.plus-list {
  color: var(--primary-title-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media screen and (max-width: 429px) {
  .plus-list {
    gap: 30px;
  }
}
@media screen and (min-width: 429px) and (max-width: 1199px) {
  .plus-list {
    width: 370px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .plus-list {
    margin-left: 100px;
  }
}

.plus-item {
  padding: 20px 24px;
  min-height: 133px;
  width: 170px;
  background-color: var(--light-background-color);
}

.plus-item:nth-child(2n+1) {
  margin-right: 30px;
}
@media screen and (max-width: 429px) {
  .plus-item:nth-child(2n+1) {
    margin: 0;
  }
}

.plus-item:nth-child(2n) {
  margin-top: 35px;
}
@media screen and (max-width: 429px) {
  .plus-item:nth-child(2n) {
    margin: 0;
  }
}

.plus-list-number {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
}

.plus-list-number::after {
  position: absolute;
  top: 7px;
  /* left: 80%; */
  content: "+";
  width: 13px;
  height: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--accent-color);
}

/* Если иконкой делать */
/* .plus-icon {
  position: absolute;
  top: 7px;
  left: calc(100% + 2px);

  top: 27px;
  right: 30px;
  display: inline-block;
} */
.plus-list-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .plus-wrapper-text {
    max-width: 500px;
  }
}

.plus-header {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 20px;
}

.plus-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-title-color);
  margin-bottom: 20px;
}

.plus-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--primary-text-color);
}

/* section master */
.master {
  background-color: var(--light-background-color);
}

.master-header {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .master-header {
    margin-left: 150px;
  }
}

.master-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-title-color);
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .master-title {
    margin-left: 150px;
  }
}

.master-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .master__item {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .master__item {
    width: 370px;
  }
}

.master-img {
  margin-bottom: 30px;
}

.master h3,
.master-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: var(--primary-title-color);
  margin-top: 30px;
  margin-bottom: 8px;
}

.master-list p,
.master-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.master-inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.master-inner-item {
  width: 44px;
  height: 44px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  color: var(--primary-title-color);
  outline: 1px solid tomato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.master-inner-item:hover,
.master-inner-item:focus {
  color: var(--accent-color);
}

.master-link-icon {
  list-style: none;
  color: currentColor;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
}

.master-icon {
  fill: currentColor;
}

/* section Our works */
.works p,
.works-header {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 44px;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .works-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .works__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .works__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

/* section Contacs */
.cont {
  background-color: var(--secondary-background-color);
  background-image: url(../img/contacts/bg-cont_sm.png);
  background-blend-mode:overlay;
  background-position: bottom calc(85% - 300px) right 50%;
  background-repeat: no-repeat;
  z-index: 15;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .cont {
    background-image: url(../img/contacts/bg-cont_sm@2x.png);
    background-position: bottom calc(85% - 540px) right 50%;
  }
}
@media screen and (min-width: 768px) {
  .cont {
    background-image: url(../img/contacts/bg-cont_md.png);
    background-position: bottom calc(90% - 300px) right 50%;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .cont {
    background-image: url(../img/contacts/bg-cont_md@2x.png);
    background-position: bottom calc(90% - 520px) right 50%;
  }
}
@media screen and (min-width: 1200px) {
  .cont {
    background-image: url(../img/contacts/bg-cont_lg.png);
    background-position: top 50% right calc(50% - 300px);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .cont {
    background-image: url(../img/contacts/bg-cont_lg@2x.png);
    background-position: top 50% right calc(50% - 600px);
  }
}

.cont-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .cont-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.cont-wrapper1,
.cont-wrapper2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (max-width: 767px) {
  .cont-wrapper1 {
    margin-bottom: 84px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont-wrapper1 {
    margin-bottom: 112px;
  }
}
@media screen and (min-width: 1200px) {
  .cont-wrapper1 {
    padding-left: 40px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont-wrapper2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .cont-wrapper2 {
    padding-left: 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont-wrapper2__left,
.cont-wrapper2__right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.cont h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--primary-white-color);
  margin-bottom: 44px;
}

/* Форма */
.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 44px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .form-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contacts-form-label {
  position: relative;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contacts-form-label {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.contacts-form-label:first-child {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .contacts-form-label:first-child {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contacts-form-input {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: var(--primary-white-color);
}

.contacts-form-input:focus,
.contacts-form-input:hover {
  border-color: var(--primary-white-color);
}

.contacts-form-input:not(:-moz-placeholder-shown) {
  color: var(--primary-white-color);
}

.contacts-form-input:not(:-ms-input-placeholder) {
  color: var(--primary-white-color);
}

.contacts-form-input:not(:placeholder-shown) {
  color: var(--primary-white-color);
}

.form-input-label {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.contacts-form-input:focus-within + .form-input-label {
  color: var(--primary-white-color);
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.contacts-form-input:not(:-moz-placeholder-shown) + .form-input-label {
  color: var(--primary-white-color);
  transform: translateY(-200%);
}

.contacts-form-input:not(:-ms-input-placeholder) + .form-input-label {
  color: var(--primary-white-color);
  transform: translateY(-200%);
}

.contacts-form-input:not(:placeholder-shown) + .form-input-label {
  color: var(--primary-white-color);
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.textarea {
  resize: none;
}

.label-textarea {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.contacts-form-input:focus-within + .label-textarea {
  color: var(--primary-white-color);
  -webkit-transform: translateY(-750%);
          transform: translateY(-750%);
}

.contacts-form-input:not(:-moz-placeholder-shown) + .label-textarea {
  color: var(--primary-white-color);
  transform: translateY(-750%);
}

.contacts-form-input:not(:-ms-input-placeholder) + .label-textarea {
  color: var(--primary-white-color);
  transform: translateY(-750%);
}

.contacts-form-input:not(:placeholder-shown) + .label-textarea {
  color: var(--primary-white-color);
  -webkit-transform: translateY(-750%);
          transform: translateY(-750%);
}

.cont-btn {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: transparent;
  padding: 12px 38px;
  margin-top: 44px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  -webkit-transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, -webkit-transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms;
  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms, -webkit-transform 250ms ease-in-out 250ms;
}

.cont-btn:hover,
.cont-btn:focus {
  color: var(--primary-white-color);
  background-color: #ff6c00;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
  cursor: pointer;
}

address p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.adr img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}

.adr-tel a {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.adr-email a {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

.cont h4 {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 70px;
  margin-bottom: 20px;
}

.const-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

/* footer */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.footer-item:not(:last-child) {
  margin-right: 40px;
}

footer p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--secondary-text-color);
}

footer ul li a {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--primary-title-color);
  text-decoration: none;
}

footer ul li a:hover,
footer ul li a:focus {
  color: var(--accent-color);
}

.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--primary-title-color);
  display: inline-block;
  margin-right: 40px;
  vertical-align: middle;
}/*# sourceMappingURL=main.css.map */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}

/* Lightbox */
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__image {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}

.lightbox__button {
  position: absolute;
  top: 2px;
  right: 20px;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  background-image: url('../images/iconClose.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(128, 128, 128, 0.5);
}

.button-right,
.button-left {
  border: none;
  background-color: transparent;
}

.arrow-right {
  position: absolute;
  margin-left: 20px;
  width: 80px;
  height: 80px;
}

.arrow-left {
  position: absolute;
  margin-left: -100px;
  width: 80px;
  height: 80px;
  transform: rotate(180deg);
}

.arrow-left path,
.arrow-right path {
  fill: #BFE2FF;
  stroke-width: .6;
  stroke: #337AB7;
  transition: fill 0.5s ease-out;
  cursor: pointer;
}

.arrow-left path:hover,
.arrow-right path:hover {
  fill: #337AB7;
}
