/* Форма */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 44px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.contacts-form-label {
  position: relative;
  flex-basis:100%;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2);
  }
}

.contacts-form-label:first-child {
  margin-bottom: 44px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.contacts-form-input {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  color: var(--primary-white-color);
}

.contacts-form-input:focus,
.contacts-form-input:hover {
  border-color: var(--primary-white-color);
}

.contacts-form-input:not(:placeholder-shown) {
  color: var(--primary-white-color);
}

.form-input-label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 500ms ease-in-out;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.contacts-form-input:focus-within + .form-input-label {
  color: var(--primary-white-color);
  transform: translateY(-200%);
}

.contacts-form-input:not(:placeholder-shown) + .form-input-label {
  color: var(--primary-white-color);
  transform: translateY(-200%);
}

.textarea {
  resize: none;
}

.label-textarea {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  transition: transform 500ms ease-in-out;
}

.contacts-form-input:focus-within + .label-textarea {
  color: var(--primary-white-color);
  transform: translateY(-750%);
}

.contacts-form-input:not(:placeholder-shown) + .label-textarea {
  color: var(--primary-white-color);
  transform: translateY(-750%);
}

.cont-btn {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: transparent;

  padding: 12px 38px;
  margin-top: 44px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;

  transition: background-color 250ms linear, transform 250ms ease-in-out 250ms;
}

.cont-btn:hover,
.cont-btn:focus {
  color: var(--primary-white-color);
  background-color: #ff6c00;
  transform: scaleX(1.1);
  cursor: pointer;
}
address p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);

  display: inline-flex;
}

.adr img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}

.adr-tel a {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.adr-email a {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}

.cont h4 {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;

  margin-top: 70px;
  margin-bottom: 20px;
}
.const-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-text-color);
}
