:root {
  /* main fonts */
  /* font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif; */

  /* main color */
  --primary-text-color: #555555;
  --primary-white-color: #ffffff;
  --primary-title-color: #303030;
  --secondary-text-color: #9da4bd;
  --accent-color: #ff6c00;

  /* main background */
  --main-background-color: #111319;
  --secondary-background-color: #191c26;
  --light-background-color: #f7f7f7;

  /* decor */
  --main-decor-color: rgba(157, 164, 189, 0.6);
}